aws_region              = "eu-central-1"
ssh_key_name            = "my-ec2-keypair"
cloudflare_zone_id      = "your-cloudflare-zone-id"
cloudflare_api_token    = "generate-a-scoped-token-and-do-not-commit-this"
domain_name             = "test-domain.me"
my_ip_cidr              = "1.2.3.4/32"
postgres_admin_password = "generate-a-strong-one-and-do-not-commit-this"
backup_bucket           = "some-bucket-name"
db_app_password         = "generate-a-strong-one-and-do-not-commit-this"
